<ion-header>
  <ion-toolbar>
    <ion-title>เข้าสู่ระบบ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-label position="floating">Username:</ion-label>
  <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="onLogin()">เข้าสู่ระบบ</ion-button>
  <ion-button expand="block" fill="clear">ยังไม่ลงทะเบียน? ลงที่นี่</ion-button>
</ion-content>
