<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>ร้านอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
all restaurant page
</ion-content>
